@model IEnumerable<Restaurante.Models.Mesa>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de mesas</h1>

<p>
    <a asp-action="Create">Registrar una nueva mesa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroMesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puestos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puestos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MesaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MesaId">Ver detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.MesaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
